<h2>Multiple Linear Regression Analysis</h2>
<h3>How long would a new Task Item take?</h3>

<form>
  <div>
    <label for="time-spent-in-backlog">Time Spent in Backlog (in Days): </label>
    <input id="time-spent-in-backlog" name="created-by" type="text" placeholder="Time Spent in Backlog"/>
  </div>

  <div>
    <label for="task-item-type">Task Type:</label>
    <select id="task-item-type" name="task-item-type">
      <option value="product">Product</option>
      <option value="engineering">Engineering</option>
      <option value="unanticipated">Unanticipated</option>
      <option value="unknown">Unknown/Other</option>
    </select>
  </div>

  <div>
    <label for="dev-team">Development Team:</label>
    <select id="dev-team" name="dev-team">
      <option value="assessments">Assessments Team</option>
      <option value="enterprise">Enterprise Team</option>
    </select>
  </div>

  <div>
    <label for="created-by">Created By:</label>
    <select id="created-by" name="task-item-type">
      <option value="neil">neil.sorensen</option>
      <option value="ryan">Ryan</option>
      <option value="dani">dani.houston</option>
      <option value="eric">emandres</option>
      <option value="judson">Judson</option>
      <option value="charles">Charles</option>
      <option value="mike">mike.clement</option>
      <option value="nate">nate.llewellyn</option>
      <option value="allan">allan</option>
      <option value="danny">dannydwarren</option>
    </select>
  </div>

  <button>Submit</button>
</form>

<div>Estimation:</div>
