<div class="register-container">
  <form>
    <h1>Register New User</h1>
    <div>
      <div class="first-name-block">
        <label for="first-name" hidden></label>
        <input id="first-name" class="first-name" type="text" placeholder="First Name" maxlength="50"/>
      </div>
      <p id="first-name-error" class="small error" hidden>{{firstNameError}}</p>
      <div class="last-name-block">
        <label for="last-name" hidden></label>
        <input id="last-name" class="last-name" type="text" placeholder="Last Name" maxlength="50"/>
      </div>
      <p id="last-name-error" class="small error" hidden>{{lastNameError}}</p>
      <div class="email-block">
        <label for="email" hidden></label>
        <input id="email" class="email" type="text" placeholder="Email" maxlength="50"/>
      </div>
      <p id="email-error" class="small error" hidden>{{emailError}}</p>
      <div class="password-block">
        <label for="password" hidden></label>
        <input id="password" class="password" type="password" placeholder="Password" maxlength="50"/>
      </div>
      <p id="password-error" class="small error" hidden>{{passwordError}}</p>
      <div class="confirm-password-block">
        <label for="confirm-password" hidden></label>
        <input id="confirm-password" class="confirm-password" type="password" placeholder="Confirm Password" maxlength="50"/>
      </div>
      <p id="confirm-password-error" class="small error" hidden>{{confirmPasswordError}}</p>
      <div class="submit-block">
        <button type="reset" class="cancel btn btn-secondary" (click)="cancel()">Cancel</button>
        <button type="submit" class="submit btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </form>
</div>
