.register-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h1 {
  display: flex;
}

.login-block {
  width: 26%;
  display: flex;
  flex-direction: column;
}

.first-name-block, .last-name-block, .email-block, .username-block, .password-block, .confirm-password-block {
  display: flex;
  flex-direction: row;
  margin-top: 16px;
}

.first-name, .last-name, .email, .username, .password, .confirm-password {
  height: 48px;
  width: 100%;
  border-radius: 15px;
  padding-left: 16px;
}

.error {
  display: flex;
  justify-content: center;
  margin: 0;
  color: red;
}

.submit-block {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 16px;
}

.submit, .cancel {
  height: 48px;
  width: 45%;
  border-radius: 15px;
}

.cancel {
  margin-right: 10%;
}

.forgot-password {
  display: flex;
  justify-content: center;
  font-size: 10pt;
  margin-top: 16px;
}

