<div class="password-container">
  <form>
    <h1>Change Password</h1>
    <div class="old-password-block">
      <label for="old-password" hidden></label>
      <input id="old-password" class="old-password" type="password" placeholder="Old Password" maxlength="50"/>
    </div>
    <p id="old-password-error" class="small error" hidden>{{oldPasswordError}}</p>
    <div class="password-block">
      <label for="password" hidden></label>
      <input id="password" class="password" type="password" placeholder="New Password" maxlength="50"/>
    </div>
    <p id="password-error" class="small error" hidden>{{passwordError}}</p>
    <div class="confirm-password-block">
      <label for="confirm-password" hidden></label>
      <input id="confirm-password" class="confirm-password" type="password" placeholder="Confirm New Password"
             maxlength="50"/>
    </div>
    <p id="confirm-password-error" class="small error" hidden>{{confirmPasswordError}}</p>
    <div class="submit-block">
      <div class="result">
        <p id="general-error" class="small error" hidden>{{error}}</p>
        <p id="success" class="small success" hidden></p>
      </div>
      <div class="buttons">
        <button type="reset" class="cancel btn btn-secondary" (click)="cancel()">Cancel</button>
        <button type="submit" class="submit btn btn-primary" (click)="submit()">Submit</button>
      </div>
    </div>
  </form>
</div>
