a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link {
  margin-left: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 32px;
}

h4 {
  font-size: 20px;
  padding: 0;
  margin-bottom: 16px;
  font-weight: bolder;
}

h5 {
  font-size: 16px;
}

p {
  margin: 0;
}

form {
  padding: 0;
  margin-bottom: 32px;
}

.small {
  margin-bottom: 16px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.card-type-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-type-checkboxes label {
  margin-left: 8px;
}

.product {
  flex-direction: column;
}

.engineering {
  flex-direction: column;
  margin-left: 20px;
}

.date-range {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.date-range label {
  margin-right: 8px;
}

.from-date {
  display: flex;
  justify-content: space-between;
}

.to-date {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.cumulative-flow-diagram {
  border: 1px black solid;
  width: 100%;
  height: 500px;
  margin-bottom: 64px;
}

.lead-time {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 64px;
}

.lead-time-charts {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.scatter-plot {
  border: 1px black solid;
  width: 49.5%;
  height: 405px;
  margin-right: 1%;
}

.right-column {
  width: 49.5%;
}

.lead-time-box-graph {
  border: 1px black solid;
  width: 100%;
  height: 405px;
}

.center {
  display: flex;
  justify-content: center;
}

.lead-time-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.deployment-frequency {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
}

.deployment-frequency-results {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-between;
}

/* This is all for the Filter-Options component */
form h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

form h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 8px;
}

form h4 {
  font-size: 20px;
  padding: 0;
  margin-bottom: 16px;
  font-weight: bolder;
}

form h5 {
  font-size: 16px;
}

form p {
  margin: 0;
}

form {
  padding: 0;
  margin-bottom: 32px;
}

form .filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

form .card-type-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

form .card-type-checkboxes label {
  margin-left: 8px;
}

form .product {
  flex-direction: column;
}

form .engineering {
  flex-direction: column;
  margin-left: 20px;
}

form .date-range {
  display: flex;
  flex-direction: column;
  padding: 0;
}

form .date-range label {
  margin-right: 8px;
}

form .from-date {
  display: flex;
  justify-content: space-between;
}

form .to-date {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

form .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


form .cumulative-flow-diagram {
  border: 1px black solid;
  width: 100%;
  height: 500px;
  margin-bottom: 64px;
}

form .lead-time {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
}

.filter h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.filter h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 32px;
}

.filter h4 {
  font-size: 20px;
  padding: 0;
  margin-bottom: 16px;
  font-weight: bolder;
}

.filter h5 {
  font-size: 16px;
}

.filter p {
  margin: 0;
}

.filter form {
  padding: 0;
  margin-bottom: 32px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.filter .card-type-checkboxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.filter .card-type-checkboxes label {
  margin-left: 8px;
}

.filter .product {
  flex-direction: column;
}

.filter .engineering {
  flex-direction: column;
  margin-left: 20px;
}

.filter .date-range {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.filter .date-range label {
  margin-right: 8px;
}

.filter .from-date {
  display: flex;
  justify-content: space-between;
}

.filter .to-date {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.filter .submit {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}


.filter .cumulative-flow-diagram {
  border: 1px black solid;
  width: 100%;
  height: 500px;
  margin-bottom: 64px;
}

.filter .lead-time {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
}
