a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link {
  margin-left: 8px;
}

h2 {
  font-size: 24px;
  margin-bottom: 0;
}

h3 {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 32px;
}

h4 {
  font-size: 20px;
  padding: 0;
  margin-bottom: 16px;
  font-weight: bolder;
}

h5 {
  font-size: 16px;
}

p {
  margin: 0;
}

form {
  padding: 0;
  margin-bottom: 32px;
}

.small {
  margin-bottom: 16px;
}

.filter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
}

.cumulative-flow-diagram {
  border: 1px black solid;
  width: 100%;
  height: 500px;
  margin-bottom: 64px;
}

.lead-time {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 64px;
}

.lead-time-charts {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 16px;
}

.scatter-plot {
  border: 1px black solid;
  width: 49.5%;
  height: 405px;
  margin-right: 1%;
}

.right-column {
  width: 49.5%;
}

.lead-time-box-graph {
  border: 1px black solid;
  width: 100%;
  height: 405px;
}

.center {
  display: flex;
  justify-content: center;
}

.lead-time-results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 16px;
}

.deployment-frequency {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 64px;
}

.deployment-frequency-results {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: space-between;
}
