<div *ngIf="this.authorized">
  <h1>Overview</h1>

  <app-filter-options></app-filter-options>

  <div>
    <h2>Results:</h2>
    <h3><strong>From:</strong> {{startDate}} <strong>to</strong> {{finishDate}}</h3>

    <div class="cumulative-flow-diagram">
      <app-cumulative-flow-diagram></app-cumulative-flow-diagram>
    </div>

    <div class="lead-time">
      <app-task-item-overview-component></app-task-item-overview-component>
      <div class="lead-time-charts">
        <div class="scatter-plot">
          <app-lead-time-scatter-plot></app-lead-time-scatter-plot>
        </div>
        <div class="right-column">
          <div class="lead-time-box-graph">
            <app-lead-time-box-graph></app-lead-time-box-graph>
          </div>
        </div>
      </div>
    </div>

    <div class="deployment-frequency">
      <app-release-overview-component></app-release-overview-component>
      <app-releases-bar-graph></app-releases-bar-graph>
    </div>
  </div>
</div>
