<form id="form">
  <h2>Filter Options</h2>
  <div class="filter">

    <div class="dev-team">
      <h3>Development Team(s):</h3>
      <div class="dev-team-checkboxes">
        <div class="assessments">
          <div>
            <input type="checkbox" id="assessments-team" checked>
            <label for="assessments-team">Assessments Team</label>
          </div>
          <div>
            <input type="checkbox" id="enterprise-team" checked>
            <label for="enterprise-team">Enterprise Team</label>
          </div>
          <div id="team-error" hidden>
            <p class="small error">You must select at least one team.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="date-range">
      <h3>Date Range:</h3>
      <div>
        <div class="from-date">
          <label for="start-date">From:</label>
          <input id="start-date" name="start-date" type="date" dataformatas="yyyy/MM/dd" min= "2020-10-19" max="{{this.getToday()}}" value="2020-10-19"/>
        </div>
        <div class="to-date">
          <label for="finish-date">To:</label>
          <input id="finish-date" name="finish-date" type="date" dataformatas="yyyy/MM/dd" min= "2020-10-19" max="{{this.getToday()}}" value="{{this.getToday()}}"/>
        </div>
        <div id="date-error" hidden>
          <p class="small error">Start date must be before end date.</p>
        </div>
        <div id="empty-date-error" hidden>
          <p class="small error">You must enter both a start and a finish date.</p>
        </div>
        <div id="invalid-date-error" hidden>
          <p class="small error">Date is out of range.<br />Must be between October 19, 2020 and the current date.</p>
        </div>
      </div>
    </div>

    <div class="submit">
      <button id="submit-btn" class="btn btn-primary" (click)="submit()" >Submit</button>
    </div>
  </div>
  <hr>
</form>
