﻿<div class="login-container">
  <form>
    <h1>Log In</h1>
    <div class="email-block">
      <label for="email" hidden></label>
      <input id="email" class="email" type="text" placeholder="Email"/>
    </div>
    <p id="email-error" class="small error" hidden>{{emailError}}</p>
    <div class="password-block">
      <label for="password" hidden></label>
      <input id="password" class="password" type="password" placeholder="Password"/>
    </div>
    <p id="password-error" class="small error" hidden>{{passwordError}}</p>
    <div class="submit-block">
      <button type="submit" class="submit btn btn-primary" (click)="submit()">Log In</button>
    </div>
    <a class="forgot-password" href="./src/app/forgot-password/forgot-password.html">Forgot Password?</a>
  </form>
</div>
