<h1>Overview</h1>

<app-filter-options></app-filter-options>

<p *ngIf="!overviewData"><em>Loading...</em></p>
<div *ngIf="overviewData">

  <div class="cumulative-flow-diagram">
    <div>Cumulative Flow Diragram goes here...</div>
  </div>

  <h4>Lead Time</h4>
  <div class="lead-time">
    <div class="scatter-plot">Scatter Plot goes here...</div>
    <div class="right-column">
      <div class="lead-time-box-graph">
        <div>Box Graph goes here...</div>
      </div>
      <div class="lead-time-results">
        <p><strong>Longest:</strong> {{overviewData.longestLeadTime}} hours</p>
        <p><strong>Shortest:</strong> {{overviewData.shortestLeadTime}} hours</p>
        <p><strong>Average:</strong> {{overviewData.averageLeadTime}} hours</p>
      </div>
    </div>
  </div>

  <h4>Deployment Frequency</h4>
  <div class="deployment-frequency">
    <div class="scatter-plot">Scatter Plot goes here...</div>
    <div class="deployment-frequency-results">
      <p><strong>Total Deploys:</strong> {{overviewData.totalDeploys}}</p>
      <p><strong>Successful Deploys:</strong> {{overviewData.successfulDeploys}}</p>
      <p><strong>Rolled-Back Deploys:</strong> {{overviewData.rolledBackDeploys}}</p>
      <p><strong>Frequency:</strong> {{overviewData.deployFrequency}} deploys per week</p>
      <p><strong>Time to Restore:</strong> {{overviewData.meanTimeToRestore}} hours</p>
      <p><strong>Change Fail Percentage:</strong> {{overviewData.changeFailPercentage}}%</p>
    </div>
  </div>
</div>
