<form id="form">
  <h2>Filter Options</h2>
  <div class="filter">

    <div class="card-type">
      <h3>Card Type(s):</h3>
      <div class="card-type-checkboxes">
        <div class="product">
          <div>
            <input type="checkbox" name="strategic-product" id="product" checked>
            <label for="product">Product</label>
          </div>
          <div>
            <input type="checkbox" name="strategic-engineering" id="engineering" checked>
            <label for="engineering">Engineering</label>
          </div>
          <div>
            <input type="checkbox" name="unanticipated" id="unanticipated" checked>
            <label for="unanticipated">Unanticipated</label>
          </div>
        </div>
      </div>
    </div>

    <div class="date-range">
      <h3>Date Range:</h3>
      <div>
        <div class="from-date">
          <label for="start-date">From:</label>
          <input id="start-date" name="start-date" type="date" dataformatas="yyyy/MM/dd" min= "2020-10-19" max="{{this.getToday()}}" value="2020-10-19"/>
        </div>
        <div class="to-date">
          <label for="finish-date">To:</label>
          <input id="finish-date" name="finish-date" type="date" dataformatas="yyyy/MM/dd" min= "2020-10-19" max="{{this.getToday()}}" value="{{this.getToday()}}"/>
        </div>
      </div>
    </div>

    <div class="submit">
      <button id="submit-btn" class="btn btn-primary" (click)="submit()" >Submit</button>
    </div>
  </div>
  <hr>
</form>
